button {
background-color: RGB(233, 233, 233);
font-size: 32px;
border: 2px solid RGB(204, 204, 204);
color: RGB(255, 255, 255);
border-radius: 4px;
}

button:active {
    background-color: RGB(0, 86, 179);
}